* {
	font-family: "Montserrat", sans-serif;
}

body {
	background: #585c68;
	font-size: 14px;
	line-height: 22px;
	color: #555555 ;
}
.right {
	width: 280px;
	background: #0bb5f4 ;
}
.right .resume_photo {
	width: 100%;
	height: 280px;
}
.right .resume_photo img {
	width: 100%;
	height: 100%;
}