* {
	font-family: "Montserrat", sans-serif;
}

body {
	background: #585c68;
	font-size: 14px;
	line-height: 22px;
	color: #555555 ;
}
.resume .right {
	width: 280px;
	background: #0bb5f4 ;
	padding: 25px;
}
.resume .right .resume_photo {
	width: 100%;
	height: 280px;
}
.resume .right .resume_photo img {
	width: 100%;
	height: 100%;
}
.resume .right_item_right_content {
	padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}
.resume .name {
	margin-bottom: 15px;
}
.bold {
	font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.resume .right .bold {
	color: #fff;
}

.resume .right .regular {
	color: #b1eaff;
}

.resume .right ul li {
	align-items: center;
	display: flex;
	margin-bottom: 10px;
}
.resume .right .resume_item_right_skills ul li {
	color: #b1eaff;
}
.resume .right ul li .data {
	color: #b1eaff;
}